@use "../global" as v;

.p-lower-message {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.p-lower-message__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 180%; /* 43.2px */
    letter-spacing: 1.2px;

    @media (max-width: 767px) {
        font-size: 16px;
        letter-spacing: 0.8px;
    }

    &.--404 {
        font-size: 48px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 2.4px;

        @media (max-width: 767px) {
          font-size: 32px;
          letter-spacing: 1.6px;
        }
    }
}

.p-lower-message__Subtext {
    font-size: 16px;
    line-height: 180%; /* 28.8px */
    letter-spacing: 0.8px;

    @media (max-width: 767px) {
      font-size: 14px;
      letter-spacing: 0.7px;
    }

    &.--404 {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 1px;

        @media (max-width: 767px) {
          font-size: 14px;
          letter-spacing: 0.7px;
        }
    }
}