@use "../global/" as v;

.l-breadcrumb {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding-block-start: 40px;
    padding-block-end: 24px;
    padding-inline: 80px;
    overflow-x: auto; // ★ 横スクロールを許可
    white-space: nowrap; // ★ 折り返し禁止

    &::-webkit-scrollbar {
      display: none; // ★ Chrome/Safari用（スクロールバー非表示・任意）
    }

    @media (max-width: 767px) {
      padding-block-start: 24px;
      padding-block-end: 8px;
      padding-inline: 16px;
      gap: 12px;
    }
}