@use "../global/" as v;

.l-lower-contact {
    margin-block: 80px 100px;

    @media (max-width: 767px) {
        margin-block: 40px 40px;
    }
}

.l-lower-contact__textWrap {
    text-align: center;
}