@use "../global" as v;

.l-section {
    margin-block: 100px;

    @media (max-width: 767px) {
      margin-block: 80px;
    }
}

.l-section--small {

  margin-block: 40px 100px;

  @media (max-width: 767px) {
    margin-block: 40px;
  }
}